@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --color-background: linear-gradient(135deg, #e0f7fa 0%, #ffffff 100%);
  --colors-transparent: ffffff00;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --color-button: linear-gradient(90deg, #00bcd4 0%, #0097a7 100%);
}

body {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-background);
  color: var(--color-nonary);
  margin: 0;
  padding: 0;
}
.btn-dni {
  background: var(--color-button);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-dni:hover {
  background: var(--color-button);
  color: white;
}
.btn-dni:disabled {
  background: var(--color-button);
  cursor: not-allowed;
  opacity: 0.8;
}
