@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --colors-transparent: ffffff00;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-primary100: #f2f9f5;
  --colors-primary200: #e3eee9;
  --colors-primary300: #bce1cd;
  --colors-primary500: #83c5a2;
  --colors-primary600: #36ad55;
  --colors-primary800: #297b41;
  --colors-secondary300: #f2efff;
  --colors-secondary500: #b6a8ff;
  --colors-secondary600: #7b61ff;
  --colors-secondary700: #3a2799;
}

body {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--colors-primary100);
  color: var(--color-nonary);
  margin: 0;
  padding: 0;
}
.btn-dni {
  background-color: var(--colors-primary600);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-dni:hover {
  background-color: var(--colors-primary800);
  color: white;
}
.btn-dni:disabled {
  background-color: var(--colors-primary600);
  cursor: not-allowed;
  opacity: 0.8;
}
